# Aviation Accident Database & Synopses, up to 2023

## Overview

This project analyzes data from the "Aviation Accident Database & Synopses" dataset to identify the safest and most cost-effective aircraft for a company looking to expand into the aviation industry. By reviewing accident and incident data, aircraft safety records, maintenance issues, and operational contexts, the project aims to provide actionable insights for minimizing risks and optimizing operational efficiency.

## Business Understanding

As the company diversifies its portfolio into the aviation sector, it faces significant risks
associated with aircraft safety, maintenance costs, and operational efficiency. Selecting the right 
aircraft is crucial for ensuring the success of this new business endeavor. The aviation industry is 
highly competitive and regulated, requiring careful consideration of multiple factors to ensure safe,
reliable, and cost-effective operations.

## Data Understanding


The "Aviation Accident Database & Synopses, up to 2023" from Kaggle is a comprehensive dataset 
containing detailed information about aviation accidents and incidents. This dataset provides critical
insights into various aspects of aviation safety and operational efficiency. 
For our analysis, we focus on the following key components of the dataset:


Accident and Incident Data: This includes detailed records of aviation accidents and incidents, 
                    encompassing data points such as the date, location, and severity of each event                  
Aircraft Information: Details about the aircraft involved in each accident or incident, including 
                      model, manufacturer, and registration.
                      
Synopsis: Brief summaries of each accident or incident, providing context and initial findings.
Cause and Contributing Factors: Information on the identified causes and contributing factors for
                      each event.
                      
Human Factors: Data on pilot and crew performance, errors, and other human-related aspects.
Weather Conditions: Weather data at the time of each accident or incident.

Operational Context: Information about the flight phase (e.g., takeoff, cruise, landing) and operation
                     type (e.g., commercial, private, cargo).

## IMPORTS AND DATA

In [1]:
# importing packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Loading the Aviation data
df = pd.read_csv('AviationData.csv', encoding='ISO-8859-1',low_memory=False)
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,6/19/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/9/2000
4,20041105X01764,Accident,CHI79FA064,8/2/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [4]:
#Finding summary statistics about our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [8]:
#Getting the dimensions of the dataframe
df.shape

(88889, 31)

## Handling Missing Values in the dataframe

Based on the summary statistics, many columns have missing values. Columns with over 50% missing data
will be dropped, while the remaining columns will be addressed by filling in or replacing the missing 
values according to the data analysis.

We will now count the missing values in the dataframe to identify which columns have more than 50%
missing values.

In [12]:
#finding the sum of the missing values in the dataframe

df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [15]:
#Getting the percentage of missing values in the dataframe
percent_missing = ((df.isna().sum())/88889)*100
percent_missing

Event.Id                   0.000000
Investigation.Type         0.000000
Accident.Number            0.000000
Event.Date                 0.000000
Location                   0.058500
Country                    0.254250
Latitude                  61.320298
Longitude                 61.330423
Airport.Code              43.601570
Airport.Name              40.708074
Injury.Severity            1.124999
Aircraft.damage            3.593246
Aircraft.Category         63.677170
Registration.Number        1.554748
Make                       0.070875
Model                      0.103500
Amateur.Built              0.114750
Number.of.Engines          6.844491
Engine.Type                7.982990
FAR.Description           63.974170
Schedule                  85.845268
Purpose.of.flight          6.965991
Air.carrier               81.271023
Total.Fatal.Injuries      12.826109
Total.Serious.Injuries    14.073732
Total.Minor.Injuries      13.424608
Total.Uninjured            6.650992
Weather.Condition          5.053494
Broad.phase.of.flight     30.560587
Report.Status              7.181991
Publication.Date          15.492356
dtype: float64

From the statistics above, nearly half of the columns with missing data have over 50% missing values.
Since this amount of data is insufficient and may not contribute meaningfully to the analysis,
we will drop these columns.

In [18]:
#dropping columns with missing percentage greater than 50%
greater_50 = percent_missing[percent_missing>50].index
df.drop(labels=greater_50, inplace=True, axis=1)

greater_50

Index(['Latitude', 'Longitude', 'Aircraft.Category', 'FAR.Description',
       'Schedule', 'Air.carrier'],
      dtype='object')

In [20]:
#confirming if the columns with more than 50% missing values, have been dropped.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Airport.Code            50132 non-null  object
 7   Airport.Name            52704 non-null  object
 8   Injury.Severity         87889 non-null  object
 9   Aircraft.damage         85695 non-null  object
 10  Registration.Number     87507 non-null  object
 11  Make                    88826 non-null  object
 12  Model                   88797 non-null  object
 13  Amateur.Built           88787 non-null  object
 14  Number.of.Engines       82805 non-null  float64
 15  Engine.Type             81793 non-null  object
 16  Purpose.of.flight       82697 non-null  object
 17  Total.Fatal.Injuries    77488 non-null  float64
 18  Total.Serious.Injuries  76379 non-null  float64
 19  Total.Minor.Injuries    76956 non-null  float64
 20  Total.Uninjured         82977 non-null  float64
 21  Weather.Condition       84397 non-null  object
 22  Broad.phase.of.flight   61724 non-null  object
 23  Report.Status           82505 non-null  object
 24  Publication.Date        75118 non-null  object
dtypes: float64(5), object(20)
memory usage: 17.0+ MB

In the remaining columns, some contain complete data, while others still have missing values,
albeit less than 50%. It's not advisable to drop columns with very few missing values as this data 
could be valuable for our analysis, and we also aim to uphold data integrity.

During our exploratory data analysis, if columns with missing values prove to be useful, we will proceed to fill or replace 
these missing values."

## EXPLORATORY DATA ANALYSIS (EDA)

Our primary business recommendation as we endeavor to identify the safest and most cost-effective
aircraft for a company venturing into the aviation industry is to prioritize aircraft with established
safety records.

### 1.Identifying Aircrafts with Proven Safety Records

Analyzing the Aircrafts Safety Records is crucial to ensuring the safety,
financial stability, reputation, regulatory compliance, and long-term viability of the company's 
aviation division.

We will thus concentrate on the following columns to assist us in analyzing and identifying the 
aircraft with the best safety records.

   ### 1a. Filtering the dataframe to relevant Data only
   To include only columns related to Aircraft Condition and Performance

In [28]:
# Select columns related to aircraft condition and performance
relevant_columns = [
    'Event.Id', 'Accident.Number', 'Event.Date', 'Country', 'Aircraft.damage', 
    'Make', 'Model', 'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 
    'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured','Purpose.of.flight' 
]
aircraft_data = df[relevant_columns]
aircraft_data

,Event.Id,Accident.Number,Event.Date,Country,Aircraft.damage,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Purpose.of.flight
0,20001218X45444,SEA87LA080,10/24/1948,United States,Destroyed,Stinson,108-3,No,1.0,Reciprocating,2.0,0.0,0.0,0.0,Personal
1,20001218X45447,LAX94LA336,7/19/1962,United States,Destroyed,Piper,PA24-180,No,1.0,Reciprocating,4.0,0.0,0.0,0.0,Personal
2,20061025X01555,NYC07LA005,8/30/1974,United States,Destroyed,Cessna,172M,No,1.0,Reciprocating,3.0,NaN,NaN,NaN,Personal
3,20001218X45448,LAX96LA321,6/19/1977,United States,Destroyed,Rockwell,112,No,1.0,Reciprocating,2.0,0.0,0.0,0.0,Personal
4,20041105X01764,CHI79FA064,8/2/1979,United States,Destroyed,Cessna,501,No,NaN,NaN,1.0,2.0,NaN,0.0,Personal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,2.02212E+13,ERA23LA093,12/26/2022,United States,NaN,PIPER,PA-28-151,No,NaN,NaN,0.0,1.0,0.0,0.0,Personal
88885,2.02212E+13,ERA23LA095,12/26/2022,United States,NaN,BELLANCA,7ECA,No,NaN,NaN,0.0,0.0,0.0,0.0,NaN
88886,2.02212E+13,WPR23LA075,12/26/2022,United States,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,0.0,0.0,0.0,1.0,Personal
88887,2.02212E+13,WPR23LA076,12/26/2022,United States,NaN,CESSNA,210N,No,NaN,NaN,0.0,0.0,0.0,0.0,Personal
88888,2.02212E+13,ERA23LA097,12/29/2022,United States,NaN,PIPER,PA-24-260,No,NaN,NaN,0.0,1.0,0.0,1.0,Personal

### Dealing with Missing values in the relevant columns

Dealing with missing data is crucial in data analysis and decision-making for several reasons:

    Ensuring Data Quality and Integrity
    Improving Model Performance
    Enabling Comprehensive Analysis
    Facilitating Robustness in Decision-Making

In [32]:
#The .info() method in pandas provides a concise summary of a DataFrame. 
aircraft_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Country                 88663 non-null  object
 4   Aircraft.damage         85695 non-null  object
 5   Make                    88826 non-null  object
 6   Model                   88797 non-null  object
 7   Amateur.Built           88787 non-null  object
 8   Number.of.Engines       82805 non-null  float64
 9   Engine.Type             81793 non-null  object
 10  Total.Fatal.Injuries    77488 non-null  float64
 11  Total.Serious.Injuries  76379 non-null  float64
 12  Total.Minor.Injuries    76956 non-null  float64
 13  Total.Uninjured         82977 non-null  float64
 14  Purpose.of.flight       82697 non-null  object
dtypes: float64(5), object(10)
memory usage: 10.2+ MB

In [34]:
aircraft_data.isna().sum()

Event.Id                      0
Accident.Number               0
Event.Date                    0
Country                     226
Aircraft.damage            3194
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Purpose.of.flight          6192
dtype: int64

According to the summary statistics, there are 5 columns with missing data that are categorical,
while the remaining columns with missing values are numerical. The best approach to deal with 
categorical data is imputing using 'mode' or considering a separate category for missing values ,while for numerical data is either dropping the column/rows or imputing them using median, mean and mode

#### Lets start by dealing with Missing values in columns with Numerical data

In [38]:
#Dealing with missing value in column' Number.of.Engines' by imputing

#Counting the occurrences of each unique value in column 'Number.of.Engines'
engine_counts = aircraft_data['Number.of.Engines'].value_counts()


#In the output above, the value (1.) appears thousands of times, making it the mode of the data.
#Therefore, we will impute the missing values using the mode.


#finding the mode of data in 'Number.of.Engines'
engine_mode = df['Number.of.Engines'].mode()
print(engine_mode)


#imputing missing values in the column 'Number.of.Engines' with mode
df['Number.of.Engines'].fillna(df['Number.of.Engines'].mode(), inplace=True)

0    1.0
Name: Number.of.Engines, dtype: float64

In the output above, the value (1.) appears thousands of times, making it the mode of the data.
Therefore, we will impute the missing values using the mode.

#### Dealing with missing values in column"Total.Fatal.Injuries"

In [42]:
#counting the occurrences of values in the column
fatal_counts = aircraft_data['Total.Fatal.Injuries'].value_counts()
print(fatal_counts)

# we shall impute misssing values using mean due to existence of outliers
df['Total.Fatal.Injuries'].fillna(df['Total.Fatal.Injuries'].median(), inplace=True)

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [44]:
#Dealing with missing values in column"Total.Serious.Injuries"
aircraft_data['Total.Serious.Injuries'].value_counts()

##imputing missing values using mean(), due to outliers
filled_serious_injuries = df['Total.Serious.Injuries'].fillna(df['Total.Serious.Injuries'].median(), inplace=True)
filled_serious_injuries

In [46]:
#Dealing with missing values in column"Total.Minor.Injuries"

#df['Total.Serious.Injuries'].value_counts()
aircraft_data['Total.Minor.Injuries'].value_counts()

#imputing missing values using mean(), due to outliers
filled_minor_injuries = df['Total.Minor.Injuries'].fillna(df['Total.Minor.Injuries'].median(), inplace=True)
filled_minor_injuries

In [48]:
##Dealing with missing values in column"Total.Uninjured"
aircraft_data['Total.Uninjured'].value_counts()

##imputing missing values using mean(), due to outliers
df['Total.Uninjured'].fillna(df['Total.Uninjured'].median(), inplace=True)

#### Dealing with Missing data in columns with Categorical data

In [51]:
###Dealing with missing values in column"Aircraft.damage"
most_frequent = aircraft_data['Aircraft.damage'].mode()[0]
print(most_frequent)

#Counting the occurrences of the most frequent word
count_most_frequent = (aircraft_data['Aircraft.damage'] == most_frequent).sum()
print(count_most_frequent)

#imputing the missing values using mode
df['Aircraft.damage'].fillna(most_frequent, inplace=True)

Substantial
64148

In [53]:
###Dealing with missing values in column"Country"
most_frequent = aircraft_data['Country'].mode()[0]
print(most_frequent)

#Counting the occurrences of the most frequent word
count_most_frequent = (aircraft_data['Country'] == most_frequent).sum()
print(count_most_frequent)

#imputing the missing values using mode
df['Country'].fillna(most_frequent, inplace=True)

United States
82248

In [55]:
###Dealing with missing values in column"Make"
most_frequent = aircraft_data['Make'].mode()[0]
print(most_frequent)

#Counting the occurrences of the most frequent word
count_most_frequent = (aircraft_data['Make'] == most_frequent).sum()
print(count_most_frequent)

#imputing the missing values using mode
df['Make'].fillna(most_frequent, inplace=True)

Cessna
22227

In [57]:
###Dealing with missing values in column"Model"
most_frequent = aircraft_data['Model'].mode()[0]
print(most_frequent)

#Counting the occurrences of the most frequent word
count_most_frequent = (aircraft_data['Model'] == most_frequent).sum()
print(count_most_frequent)

#imputing the missing values using mode
df['Model'].fillna(most_frequent, inplace=True)

152
2367

In [59]:
###Dealing with missing values in column"Amateur.Built"
most_frequent = aircraft_data['Amateur.Built'].mode()[0]
print(most_frequent)

#Counting the occurrences of the most frequent word
count_most_frequent = (aircraft_data['Amateur.Built'] == most_frequent).sum()
print(count_most_frequent)

#imputing the missing values using mode
df['Amateur.Built'].fillna(most_frequent, inplace=True)

No
80312

In [61]:
###Dealing with missing values in column"Engine.Type"
most_frequent = aircraft_data['Engine.Type'].mode()[0]
print(most_frequent)

#Counting the occurrences of the most frequent word
count_most_frequent = (aircraft_data['Engine.Type'] == most_frequent).sum()
print(count_most_frequent)

#imputing the missing values using mode
df['Engine.Type'].fillna(most_frequent, inplace=True)

Reciprocating
69530

In [63]:
#checking for info(), just to make sure the missing values,have been filled and updated to the dataframe.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88889 non-null  object
 6   Airport.Code            50132 non-null  object
 7   Airport.Name            52704 non-null  object
 8   Injury.Severity         87889 non-null  object
 9   Aircraft.damage         88889 non-null  object
 10  Registration.Number     87507 non-null  object
 11  Make                    88889 non-null  object
 12  Model                   88889 non-null  object
 13  Amateur.Built           88889 non-null  object
 14  Number.of.Engines       82805 non-null  float64
 15  Engine.Type             88889 non-null  object
 16  Purpose.of.flight       82697 non-null  object
 17  Total.Fatal.Injuries    88889 non-null  float64
 18  Total.Serious.Injuries  88889 non-null  float64
 19  Total.Minor.Injuries    88889 non-null  float64
 20  Total.Uninjured         88889 non-null  float64
 21  Weather.Condition       84397 non-null  object
 22  Broad.phase.of.flight   61724 non-null  object
 23  Report.Status           82505 non-null  object
 24  Publication.Date        75118 non-null  object
dtypes: float64(5), object(20)
memory usage: 17.0+ MB

In [65]:
aircraft_data = df[relevant_columns]
aircraft_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Country                 88889 non-null  object
 4   Aircraft.damage         88889 non-null  object
 5   Make                    88889 non-null  object
 6   Model                   88889 non-null  object
 7   Amateur.Built           88889 non-null  object
 8   Number.of.Engines       82805 non-null  float64
 9   Engine.Type             88889 non-null  object
 10  Total.Fatal.Injuries    88889 non-null  float64
 11  Total.Serious.Injuries  88889 non-null  float64
 12  Total.Minor.Injuries    88889 non-null  float64
 13  Total.Uninjured         88889 non-null  float64
 14  Purpose.of.flight       82697 non-null  object
dtypes: float64(5), object(10)
memory usage: 10.2+ MB

### 1c. Calculate Safety Metrics (Optional)

In [68]:
# Calculating total injuries (fatal, serious, minor) to assess severity
df['Total.Injuries'] = df['Total.Fatal.Injuries'] + df['Total.Serious.Injuries'] + df['Total.Minor.Injuries']
print(df.loc[:, 'Total.Injuries'])

#df
aircraft_data['Total.Injuries'] = df['Total.Injuries']

aircraft_data

0        2.0
1        4.0
2        3.0
3        2.0
4        3.0
        ...
88884    1.0
88885    0.0
88886    0.0
88887    0.0
88888    1.0
Name: Total.Injuries, Length: 88889, dtype: float64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3352\4005786486.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aircraft_data['Total.Injuries'] = df['Total.Injuries']

,Event.Id,Accident.Number,Event.Date,Country,Aircraft.damage,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Purpose.of.flight,Total.Injuries
0,20001218X45444,SEA87LA080,10/24/1948,United States,Destroyed,Stinson,108-3,No,1.0,Reciprocating,2.0,0.0,0.0,0.0,Personal,2.0
1,20001218X45447,LAX94LA336,7/19/1962,United States,Destroyed,Piper,PA24-180,No,1.0,Reciprocating,4.0,0.0,0.0,0.0,Personal,4.0
2,20061025X01555,NYC07LA005,8/30/1974,United States,Destroyed,Cessna,172M,No,1.0,Reciprocating,3.0,0.0,0.0,1.0,Personal,3.0
3,20001218X45448,LAX96LA321,6/19/1977,United States,Destroyed,Rockwell,112,No,1.0,Reciprocating,2.0,0.0,0.0,0.0,Personal,2.0
4,20041105X01764,CHI79FA064,8/2/1979,United States,Destroyed,Cessna,501,No,NaN,Reciprocating,1.0,2.0,0.0,0.0,Personal,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,2.02212E+13,ERA23LA093,12/26/2022,United States,Substantial,PIPER,PA-28-151,No,NaN,Reciprocating,0.0,1.0,0.0,0.0,Personal,1.0
88885,2.02212E+13,ERA23LA095,12/26/2022,United States,Substantial,BELLANCA,7ECA,No,NaN,Reciprocating,0.0,0.0,0.0,0.0,NaN,0.0
88886,2.02212E+13,WPR23LA075,12/26/2022,United States,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,Reciprocating,0.0,0.0,0.0,1.0,Personal,0.0
88887,2.02212E+13,WPR23LA076,12/26/2022,United States,Substantial,CESSNA,210N,No,NaN,Reciprocating,0.0,0.0,0.0,0.0,Personal,0.0
88888,2.02212E+13,ERA23LA097,12/29/2022,United States,Substantial,PIPER,PA-24-260,No,NaN,Reciprocating,0.0,1.0,0.0,1.0,Personal,1.0

### 1d. Analyzing trends and patterns to identify aircraft with proven safety 

 For instance, we could group data by aircraft make and model, and compute average injury counts

In [73]:
# For instance, you could group data by aircraft make and model, and compute average injury counts

# Select only numeric columns along with 'Make' and 'Model'
numeric_columns = ['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries','Total.Uninjured', 'Total.Injuries']

# Group by 'Make' and 'Model' and calculate the mean for numeric columns
safety_records = aircraft_data.groupby(['Make', 'Model','Engine.Type','Number.of.Engines','Aircraft.damage','Purpose.of.flight'])[numeric_columns].mean() #you can add (.reset_index())

safety_records

                                                                                                              Total.Fatal.Injuries  \
Make                     Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
107.5 Flying Corporation One Design DR 107 Reciprocating 1.0               Destroyed       Personal                            1.0
1200                     G103              Reciprocating 0.0               Substantial     Personal                            0.0
177MF LLC                PITTS MODEL 12    Reciprocating 1.0               Substantial     Personal                            0.0
1st Ftr Gp               FOCKE-WULF 190    Reciprocating 1.0               Destroyed       Personal                            1.0
2000 Mccoy               Genesis           Reciprocating 1.0               Destroyed       Flight Test                         1.0
...                                                                                                                            ...
de Havilland             Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                            0.0
                         DHC-2             Reciprocating 1.0               Substantial     Personal                            0.0
                                                                                           Positioning                         0.0
                         DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                           0.0
unknown                  kit               Reciprocating 1.0               Substantial     Personal                            0.0

                                                                                                              Total.Serious.Injuries  \
Make                     Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
107.5 Flying Corporation One Design DR 107 Reciprocating 1.0               Destroyed       Personal                              0.0
1200                     G103              Reciprocating 0.0               Substantial     Personal                              1.0
177MF LLC                PITTS MODEL 12    Reciprocating 1.0               Substantial     Personal                              2.0
1st Ftr Gp               FOCKE-WULF 190    Reciprocating 1.0               Destroyed       Personal                              0.0
2000 Mccoy               Genesis           Reciprocating 1.0               Destroyed       Flight Test                           0.0
...                                                                                                                              ...
de Havilland             Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                              0.0
                         DHC-2             Reciprocating 1.0               Substantial     Personal                              0.0
                                                                                           Positioning                           0.0
                         DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                             0.0
unknown                  kit               Reciprocating 1.0               Substantial     Personal                              0.0

                                                                                                              Total.Minor.Injuries  \
Make                     Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
107.5 Flying Corporation One Design DR 107 Reciprocating 1.0               Destroyed       Personal                            0.0
1200                     G103              Reciprocating 0.0               Substantial     Personal                            0.0
177MF LLC                PITTS MODEL 12    Reciprocating 1.0               Substantial     Personal                            0.0
1st Ftr Gp               FOCKE-WULF 190    Reciprocating 1.0               Destroyed       Personal                            0.0
2000 Mccoy               Genesis           Reciprocating 1.0               Destroyed       Flight Test                         0.0
...                                                                                                                            ...
de Havilland             Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                            0.0
                         DHC-2             Reciprocating 1.0               Substantial     Personal                            0.0
                                                                                           Positioning                         0.0
                         DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                           0.0
unknown                  kit               Reciprocating 1.0               Substantial     Personal                            1.0

                                                                                                              Total.Uninjured  \
Make                     Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
107.5 Flying Corporation One Design DR 107 Reciprocating 1.0               Destroyed       Personal                       1.0
1200                     G103              Reciprocating 0.0               Substantial     Personal                       1.0
177MF LLC                PITTS MODEL 12    Reciprocating 1.0               Substantial     Personal                       0.0
1st Ftr Gp               FOCKE-WULF 190    Reciprocating 1.0               Destroyed       Personal                       0.0
2000 Mccoy               Genesis           Reciprocating 1.0               Destroyed       Flight Test                    1.0
...                                                                                                                       ...
de Havilland             Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                       2.0
                         DHC-2             Reciprocating 1.0               Substantial     Personal                       1.0
                                                                                           Positioning                    1.5
                         DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                     15.0
unknown                  kit               Reciprocating 1.0               Substantial     Personal                       0.0

                                                                                                              Total.Injuries
Make                     Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
107.5 Flying Corporation One Design DR 107 Reciprocating 1.0               Destroyed       Personal                      1.0
1200                     G103              Reciprocating 0.0               Substantial     Personal                      1.0
177MF LLC                PITTS MODEL 12    Reciprocating 1.0               Substantial     Personal                      2.0
1st Ftr Gp               FOCKE-WULF 190    Reciprocating 1.0               Destroyed       Personal                      1.0
2000 Mccoy               Genesis           Reciprocating 1.0               Destroyed       Flight Test                   1.0
...                                                                                                                      ...
de Havilland             Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                      0.0
                         DHC-2             Reciprocating 1.0               Substantial     Personal                      0.0
                                                                                           Positioning                   0.0
                         DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                     0.0
unknown                  kit               Reciprocating 1.0               Substantial     Personal                      1.0

[28218 rows x 5 columns]

In [75]:
#understanding the counts of total injuries
aircraft_data['Total.Injuries'].value_counts()

Total.Injuries
0.0      48398
1.0      20590
2.0      12244
3.0       3261
4.0       2268
         ...
229.0        1
52.0         1
97.0         1
59.0         1
99.0         1
Name: count, Length: 144, dtype: int64

#### I want to narrow down to only Airplanes with zero total injuries and high uninjured rate

In [78]:
#Filter for airplanes with zero Total_Injuries
zero_injury_planes = safety_records[safety_records['Total.Injuries'] == 0]
zero_injury_planes

# Group by 'Make' and 'Model'
#grouped_zero_injuries = zero_injury_planes.groupby(['Make', 'Model']).size().reset_index(name='Count')
#grouped_zero_injuries

                                                                                                         Total.Fatal.Injuries  \
Make                Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
2007 Savage Air LLC EPIC LT           Turbo Prop    1.0               Minor           Personal                            0.0
2021FX3 LLC         CCX-2000          Reciprocating 1.0               Substantial     Personal                            0.0
67 Flying Dutchman  D1/LFD-13         Reciprocating 1.0               Substantial     Personal                            0.0
A. H. Gettings      GLASSAIR SH2      Reciprocating 1.0               Destroyed       Personal                            0.0
AAA AIRCRAFT LLC    CCX-2000          Reciprocating 1.0               Substantial     Personal                            0.0
...                                                                                                                       ...
Zwart               KIT FOX VIXEN     Reciprocating 1.0               Substantial     Personal                            0.0
de Havilland        Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                            0.0
                    DHC-2             Reciprocating 1.0               Substantial     Personal                            0.0
                                                                                      Positioning                         0.0
                    DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                           0.0

                                                                                                         Total.Serious.Injuries  \
Make                Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
2007 Savage Air LLC EPIC LT           Turbo Prop    1.0               Minor           Personal                              0.0
2021FX3 LLC         CCX-2000          Reciprocating 1.0               Substantial     Personal                              0.0
67 Flying Dutchman  D1/LFD-13         Reciprocating 1.0               Substantial     Personal                              0.0
A. H. Gettings      GLASSAIR SH2      Reciprocating 1.0               Destroyed       Personal                              0.0
AAA AIRCRAFT LLC    CCX-2000          Reciprocating 1.0               Substantial     Personal                              0.0
...                                                                                                                         ...
Zwart               KIT FOX VIXEN     Reciprocating 1.0               Substantial     Personal                              0.0
de Havilland        Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                              0.0
                    DHC-2             Reciprocating 1.0               Substantial     Personal                              0.0
                                                                                      Positioning                           0.0
                    DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                             0.0

                                                                                                         Total.Minor.Injuries  \
Make                Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
2007 Savage Air LLC EPIC LT           Turbo Prop    1.0               Minor           Personal                            0.0
2021FX3 LLC         CCX-2000          Reciprocating 1.0               Substantial     Personal                            0.0
67 Flying Dutchman  D1/LFD-13         Reciprocating 1.0               Substantial     Personal                            0.0
A. H. Gettings      GLASSAIR SH2      Reciprocating 1.0               Destroyed       Personal                            0.0
AAA AIRCRAFT LLC    CCX-2000          Reciprocating 1.0               Substantial     Personal                            0.0
...                                                                                                                       ...
Zwart               KIT FOX VIXEN     Reciprocating 1.0               Substantial     Personal                            0.0
de Havilland        Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                            0.0
                    DHC-2             Reciprocating 1.0               Substantial     Personal                            0.0
                                                                                      Positioning                         0.0
                    DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                           0.0

                                                                                                         Total.Uninjured  \
Make                Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
2007 Savage Air LLC EPIC LT           Turbo Prop    1.0               Minor           Personal                       4.0
2021FX3 LLC         CCX-2000          Reciprocating 1.0               Substantial     Personal                       2.0
67 Flying Dutchman  D1/LFD-13         Reciprocating 1.0               Substantial     Personal                       1.0
A. H. Gettings      GLASSAIR SH2      Reciprocating 1.0               Destroyed       Personal                       1.0
AAA AIRCRAFT LLC    CCX-2000          Reciprocating 1.0               Substantial     Personal                       2.0
...                                                                                                                  ...
Zwart               KIT FOX VIXEN     Reciprocating 1.0               Substantial     Personal                       2.0
de Havilland        Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                       2.0
                    DHC-2             Reciprocating 1.0               Substantial     Personal                       1.0
                                                                                      Positioning                    1.5
                    DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                     15.0

                                                                                                         Total.Injuries
Make                Model             Engine.Type   Number.of.Engines Aircraft.damage Purpose.of.flight
2007 Savage Air LLC EPIC LT           Turbo Prop    1.0               Minor           Personal                      0.0
2021FX3 LLC         CCX-2000          Reciprocating 1.0               Substantial     Personal                      0.0
67 Flying Dutchman  D1/LFD-13         Reciprocating 1.0               Substantial     Personal                      0.0
A. H. Gettings      GLASSAIR SH2      Reciprocating 1.0               Destroyed       Personal                      0.0
AAA AIRCRAFT LLC    CCX-2000          Reciprocating 1.0               Substantial     Personal                      0.0
...                                                                                                                 ...
Zwart               KIT FOX VIXEN     Reciprocating 1.0               Substantial     Personal                      0.0
de Havilland        Beaver DHC-2 MK.1 Reciprocating 1.0               Substantial     Personal                      0.0
                    DHC-2             Reciprocating 1.0               Substantial     Personal                      0.0
                                                                                      Positioning                   0.0
                    DHC-6-200         Turbo Prop    2.0               Substantial     Skydiving                     0.0

[11286 rows x 5 columns]

In [114]:
# Sort by 'Total.uninjured' in descending order to find airplanes with high uninjured rate
sorted_zero_injury_planes = zero_injury_planes.sort_values(by='Total.Uninjured', ascending=False).head(0)

# Display the sorted results
print("\nGrouped and Sorted Zero Injury Planes:")
sorted_zero_injury_planes

Grouped and Sorted Zero Injury Planes:

Empty DataFrame
Columns: [Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Total.Injuries]
Index: []

In [112]:
##plottting Number of 'Total.Uninjured against type of manufcaturer

Based on the analysis presented above, we have identified airplanes with Zero total injuries and the highest number of uninjured cases. Boeing aircraft emerged with the highest count of uninjured cases, followed by McDonnell Douglas, with Boeing aircraft from a different model ranking third. Consequently, investing in airplanes manufactured by Boeing, McDonnell Douglas, and Airbus appears to be the safest option for the company. It's noteworthy that most of these leading manufacturers utilize turbofan engines, typically configured with either two or four engines.

### Further Analysis  (Not necessary)

In [86]:
# Calculate total incidents for each make and model from the previous statistics
total_incidents = sorted_zero_injury_planes.groupby(['Make', 'Model']).size()#reset_index(name='Total_Incidents')
total_incidents

Series([], dtype: int64)

#### From the analysis above, we will select aircraft with the fewest 'total injuries'. We will then proceed to analyze the locations of these aircraft to understand which countries they are based in."

### 2. Prioritize Aircraft with Low Maintenance and Operational Costs

For a new business, it is important to consider aircraft with low maintenance and operational costs
for the sake of the company's profits and overall financial health. Lower maintenance costs can lead
to significant savings over time, reducing the total cost of ownership and increasing the return on
investment. Operational costs, including fuel efficiency and routine service expenses, directly
impact the day-to-day expenses of running an aviation business

From the analysis above ,we shall them got ahead to further analyze which aircraft have low maintenance and operational costs, we should focus on columns 
that provide information about the aircraft’s make and model, engine type, number of engines, and
other relevant characteristics.

In [92]:
#selecting relevant columns
columns_of_interest = [
    'Make', 'Model', 'Number.of.Engines', 'Engine.Type','Aircraft.damage', 'Purpose.of.flight'
]

df_selected = df[columns_of_interest]
df_selected

,Make,Model,Number.of.Engines,Engine.Type,Aircraft.damage,Purpose.of.flight
0,Stinson,108-3,1.0,Reciprocating,Destroyed,Personal
1,Piper,PA24-180,1.0,Reciprocating,Destroyed,Personal
2,Cessna,172M,1.0,Reciprocating,Destroyed,Personal
3,Rockwell,112,1.0,Reciprocating,Destroyed,Personal
4,Cessna,501,NaN,Reciprocating,Destroyed,Personal
...,...,...,...,...,...,...
88884,PIPER,PA-28-151,NaN,Reciprocating,Substantial,Personal
88885,BELLANCA,7ECA,NaN,Reciprocating,Substantial,NaN
88886,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,Reciprocating,Substantial,Personal
88887,CESSNA,210N,NaN,Reciprocating,Substantial,Personal
88888,PIPER,PA-24-260,NaN,Reciprocating,Substantial,Personal

In [94]:
## considering the number of engines and the enginetype

# Group by Engine Type and Number of Engines
#grouped_by_engine = sorted_zero_injury_planes.groupby(aircraft_data['Engine.Type', 'Number.of.Engines']).sum()
#grouped_by_engine = grouped_by_engine.sort_values(by='Total.Uninjured', ascending=False)

#grouped_by_engine = aircraft_data.groupby(['Engine.Type', 'Number.of.Engines']).sum()
#grouped_by_engine = grouped_by_engine.sort_values(by='Total.Uninjured', ascending=False)
#grouped_by_engine

In [96]:
# we can go ahead and classify the data according to 'aircraft.damage'

In [98]:
## we will then classify the same data according to the'purpose of flight'

### Descriptive Analysis: 

Analyze the distribution of aircraft makes and models, and their associated maintenance indicators.

### Cost Analysis: 
    
Analyze potential maintenance costs based on aircraft damage data.

### Visualize Findings: 
    
Use visualizations to help identify patterns and insights.

In [105]:
import matplotlib.pyplot as plt

# Plot the distribution of makes and models
plt.figure(figsize=(12, 8))
make_model_distribution.plot(kind='bar', x='Make', y='Count')
plt.title('Distribution of Aircraft Makes and Models')
plt.xlabel('Make and Model')
plt.ylabel('Number of Aircraft')
plt.show()

# Plot the distribution of engine types
engine_type_distribution.plot(kind='bar', figsize=(10, 6))
plt.title('Distribution of Engine Types')
plt.xlabel('Engine Type')
plt.ylabel('Number of Aircraft')
plt.show()

NameError: name 'make_model_distribution' is not defined

### 3. Choose Aircraft with High Fuel Efficiency

#### 3a.Consider Fuel Efficiency and Operational Costs

Analyzing fuel efficiency and operational costs is crucial for determining the long-term viability 
and profitability of the aircraft. This involves examining various factors such as the number of
engines, engine type, and purpose of the flight. These factors can provide insights into the fuel 
consumption, maintenance needs, and overall operational costs.

In [110]:
# Drawing a plot vcisualizing number of engines against Engine type to analyze fuel efficency

#### Descriptive Statistics

Get an overview of the distribution of key columns to understand their characteristics.

In [ ]:
# Descriptive statistics for 'Number.of.Engines'
print(df['Number.of.Engines'].describe())

# Value counts for 'Engine.Type'
print(df['Engine.Type'].value_counts())

# Value counts for 'Purpose.of.flight'
print(df['Purpose.of.flight'].value_counts())

#### Fuel Efficiency Analysis

Analyze fuel efficiency based on the number of engines and engine type.

python

In [ ]:
 #Distribution of Makes and Models
plt.figure(figsize=(14, 7))
sns.countplot(y='Make', data=df_selected, order=df_selected['Make'].value_counts().iloc[:10].index)
plt.title('Top 10 Aircraft Makes')
plt.show()

plt.figure(figsize=(14, 7))
sns.countplot(y='Model', data=df_selected, order=df_selected['Model'].value_counts().iloc[:10].index)
plt.title('Top 10 Aircraft Models')
plt.show()

In [ ]:
#

#Distribution of Engine Types and Number of Engines
plt.figure(figsize=(10, 5))
sns.countplot(x='Engine.Type', data=df_selected)
plt.title('Distribution of Engine Types')
plt.show()

plt.figure(figsize=(10, 5))
sns.countplot(x='Number.of.Engines', data=df_selected)
plt.title('Distribution of Number of Engines')
plt.show()

In [ ]:
# Comparative Analysis
engine_type_vs_cost = df_selected.groupby('Engine.Type').size()
print(engine_type_vs_cost)

In [ ]:
# Correlation Analysis
corr_matrix = df_selected.corr()
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()